<!-- templates/partials/_game_card.html -->
<a class="custom-context"
    href="https://{{ app.link }}.appw.su"
    hx-get="/api/a/{{ app.link }}/modal" 
    hx-target="#gameModal"
    hx-trigger="click"
    onclick="document.getElementById('gameModal').style.display='flex'; history.pushState(null, '', this.dataset.openUrl), document.body.classList.add('no-scroll');
;"
    data-download-url="{{ url_for('download_file', filename=app.downloads[0].file_link) if app.downloads else '' }}"
    data-play-url="/a/{{ app.link }}"
    data-share-link="https://{{ app.link }}.appw.su"
    data-open-url="/a/{{ app.link }}"
    data-has-play="{{ '1' if app.is_unity_build else '0' }}"
    >

    {{ app.title }}

    <span class="bottom">
        {% if app.info.price != 0 and app.info.price %}
            {{ app.info.price }}₽
        {% elif app.is_unity_build %}
            Играть
        {% elif app.downloads and app.downloads|length > 0 %}
            {{ app.downloads[0].file_size|filesize|safe }}
        {% else %}
            Нет файлов
        {% endif %}
        
        {% if show_update_at %}
            · {{ app.info.updated_at|time_ago }}
        {% endif %}
    </span>


    {% if app.info.app_type == 'app' %}
    <img src="{{ url_for('static', filename='icons/terminal.svg') }}">
    {% endif %}
    {% if app.info.app_type == 'game' %}
    <img src="{{ url_for('static', filename='icons/joystick.svg') }}">
    {% endif %}
</a>

