/* @font-face {
    font-family: 'Light';
    src: url('/static/fonts/PragmaticaExtended-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Medium';
    src: url('{{ url_for("static", filename="fonts/PragmaticaExtended-Medium.woff2") }}') format('woff2');
} */

:root{
    --primary-color: #eee;
    --secondary-color: #909090;

    --button-fill-color: #131316;
    --button-border-color: #3C3C484D;

    --accent-color: #FF613E;
    --accent-color-48: #FF613E7A;
    --accent-color-12: #FF613E1F;
    --accent-color-06: #FF613E0F;

    --success-color: #22BA40;
    --success-color-48: #22BA407A;
    --success-color-12: #22BA401F;
    --success-color-06: #22BA400F;

    --error-color: #FF5E5E;
    --error-color-48: #FF5E5E7A;
    --error-color-12: #FF5E5E1F;
    --error-color-06: #FF5E5E0F;

    --blue-color: #2A35D4;
    --blue-color-48: #2A35D47A;
    --blue-color-12: #2A35D41F;
    --blue-color-06: #2A35D40F;
    
    --background-color: #000000;
    --focus-color: rgba(255, 255, 255, 0.1);
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--background-color);
    color: var(--primary-color);

    /* overflow: hidden; */
    /* overflow-x: auto; */
}
body {
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
body.no-scroll{
    overflow: hidden;
}
* {
    box-sizing: border-box !important;
}


.flex {
    display: flex;
    gap: 2px;
}
.flex-cl {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flex-grow {
    flex-grow: 1;
}
.flex-center {
    align-items: center;
    gap: 8px;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-wrap{
    flex-wrap: wrap;
}

.w-100{
    width: 100%;
}

.gap-24{
    gap: 24px;
}
.gap-12{
    gap: 12px;
}
.gap-8 {
    gap: 8px;
}
.gap-6{
    gap: 6px;
}

h3, p {
    margin: 4px 0;
}
p{
    color: var(--secondary-color);
}

/* TEMPLATES */




a, button {
    display: flex;

    padding: 6px 8px;
    width: fit-content;
    height: fit-content;

    color: white;
    background-color: var(--button-border-color);
    border-radius: 4px;
    border: 1px solid transparent;
    text-decoration: none;

    transition: opacity 0.2s;

    user-select: none;
    -moz-user-select: none;

    img{
        -webkit-user-drag: none;
    }
}
/* a:focus {
    background-color: var(--focus-color) !important;
    border-color: transparent !important;
    outline: none !important;
} */

.flash-message{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    bottom: 24px;
    padding: 12px 18px;
    width: fit-content;
    max-width: 100%;

    background-color: var(--button-border-color);
    backdrop-filter: blur(32px);
    border-radius: 32px;

    cursor: default;
    user-select: none;
    -webkit-user-drag: none;

    a{
        background-color: transparent;
        border-radius: 12px;

        color: var(--accent-color);
    }
}
/* #close-flash-message{
    position: absolute;
    right: -8px;
    top: -8px;
    height: 24px;
    width: 24px;

    background-color: var(--button-border-color);
    backdrop-filter: blur(32px);
    border: none;
    border-radius: 16px;
    color: white;
}
#close-flash-message:hover{
    opacity: 0.8;
} */

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.base {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1020px;
    padding: 0 24px;
    z-index: 10;

    .right-side{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        width: fit-content;
    }

    #search-btn{
        white-space: pre;
        font: inherit;
    }
    .outline{
        background-color: rgba(0, 0, 0, 0.6) !important;
        backdrop-filter: blur(24px);
    }
    .search{
        position: relative;
        width: fit-content;
        padding: 0 24px;
        cursor: text;
        user-select: none;
        -webkit-user-drag: none;
        gap: 8px;

        img{
            -webkit-user-drag: none;
            width: fit-content;
            height: fit-content;
        }
        input{
            font: inherit;
        }

        #results{
            position: absolute;
            
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 8px;

            .suggestion-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 12px;
                width: 420px;
                width: 100%;
                height: 48px;
                margin-top: 2px;

                border-radius: 16px;
                border: 1px solid var(--button-border-color);
                background: var(--button-fill-color);
                color: var(--secondary-color);

                transition: background-color 0.1s, padding 0.2s, margin 0.2s, color 0.2s;
            }
            .suggestion-item.highlighted {
                background-color: var(--accent-color);
                color: var(--primary-color) !important;
            }
            /* .suggestion-item.highlighted::after{
                content: "AAA";
                position: absolute;

                height: 100%;
                top: 0;
                right: 0;

                background-color: var(--primary-color);
            } */

            .suggestion-item:hover {
                background-color: var(--accent-color-06);
                color: var(--primary-color) !important;
                opacity: 1;
            }

            mark{
                background-color: transparent;
                color: white;
            }

        }
    }
    
    #show-nav.active{
        z-index: 15;
        background-color: #111;
    }

}

nav{
    z-index: 15;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;

    top: 76px;
    right: 0;
    width: fit-content;



    a{
        width: fit-content !important;
        min-width: fit-content;
    }
}

nav{
    opacity: 0;
    pointer-events: none;


    transition: 0.2s;
}

nav.visible{
    opacity: initial;
    pointer-events: initial;

}
nav * {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s;
}

nav.visible * {
  opacity: 1;
  transform: translateY(0);
}

/* header */
nav.visible:not(:hover) :nth-child(1) { transition-delay: 0.1s; }
nav.visible:not(:hover) :nth-child(2) { transition-delay: 0.15s; }
nav.visible:not(:hover) :nth-child(3) { transition-delay: 0.2s; }
nav.visible:not(:hover) :nth-child(4) { transition-delay: 0.25s; }
nav.visible:not(:hover) :nth-child(5) { transition-delay: 0.3s; }
nav.visible:not(:hover) :nth-child(6) { transition-delay: 0.35s; }
nav.visible:not(:hover) :nth-child(7) { transition-delay: 0.4s; }
nav.visible:not(:hover) :nth-child(8) { transition-delay: 0.45s; }
nav.visible:not(:hover) :nth-child(9) { transition-delay: 0.5s; }
nav.visible:not(:hover) :nth-child(10) { transition-delay: 0.55s; }

nav.visible a:hover {
  transform: scale(1.02);
  transition: all 0.2s !important;
  transition-delay: 0;
}
#nav-bg{
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(0px);

    opacity: 0;
    pointer-events: none;

    transition: 0.2s;
}
#nav-bg.active{
    opacity: initial;
    pointer-events: initial;

    backdrop-filter: blur(6px);
}
a, button{
    cursor: pointer;
    user-select: none;
}

.divider.header{
    margin-top: 18px;
    margin-bottom: 8px;
    width: 100%;
    height: 1px;
    background-color: var(--button-border-color);
}

.outline{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 7px;

    border-radius: 81px;
    border: 1px solid var(--button-border-color);
    background-color: transparent;
    color: var(--secondary-color);
}

.no-fill{
    background-color: transparent;
}


img{
    max-width: 100%;
    max-height: 100%;
}
.fill{
    display: flex;
    padding: 14px 21px;
    justify-content: center;
    align-items: center;
    gap: 11px;

    height: 48px;
    white-space: nowrap;


    border-radius: 16px;
    border: 1px solid rgba(31, 31, 37, 0.60);
    background-color: var(--button-fill-color) !important;
    color: var(--secondary-color);

    cursor: pointer;
    font-size: 16px;
}
.orange{
    background-color: var(--accent-color) !important;
    color: var(--background-color) !important;
}

.fill.alt{
    gap: 8px;
    background-color: transparent !important;
    border-radius: 32px;
}
.fill.danger{
    color: var(--error-color) !important;
}

.version{
    span{
        opacity: 0.5;
    }
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;

    border-radius: 32px;
}
.size64{
    width: 64px;
    height: 64px;
}
.size48{
    width: 48px;
    height: 48px;
}

a:hover, button:hover {
    opacity: 0.8;
}

label{
    font-size: 16px;
    /* font-weight: 400; */
}
input, select{
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
}
input:focus, select:focus{
    border: none;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
}
.absolute-menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    backdrop-filter: blur(10px);

    a{
        font-size: 32px;
        padding: 24px 32px;
        border-radius: 48px;


    }
}
.wrapper{
    padding: 24px;
    width: 100vw;
    height: 100vh;
}
html, body, * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) #000000;
}

.wrapper::-webkit-scrollbar {
    width: 8px;
    background: white;
    margin-left: -4px;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;

    cursor: pointer;
}
.wrapper::-webkit-scrollbar-thumb:hover{
    background-color: blue;
    color: blue;
}

.wrapper::-webkit-scrollbar-track {
    background: white;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 96px;
    padding-bottom: 96px;

    max-width: 1020px;

    h2 {
        font-family: "EB Garamond", serif;

        /* width: 100%; */
        text-align: center;
    }
    h2{
        padding-bottom: 24px;
        padding-top: 48px;
        margin: 0;

        font-size: 28px;
        font-weight: 400;
    }
}
.card-wrapper{
    max-width: 1020px;
    width: 100%;

    .category-wr{
        position: relative;
        display: flex;
        flex-direction: column;

        gap: 4px;

        a{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 48px;
            height: 48px;

            border-radius: 24px;
            color: var(--secondary-color);

            overflow: hidden;
        }
        a.shares.active{
            display: none;
        }
        a.active{
            background-color: var(--primary-color)
        }
        a.active:focus{
            background-color: var(--primary-color) !important;
            * {
                stroke: red !important;
            }
        }
    }
}

#context-menu{
    position: absolute;
    z-index: 99;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
    border-radius: 24px;
    border: 1px solid rgba(31, 31, 37, 0.80);
    
    opacity: 0;
    overflow: hidden;

    pointer-events: none;

    button{
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;

        padding: 12px 18px;
        width: 100%;

        border: none;
        background-color:  transparent;
        border-radius: 0;

        font-size: 16px;
        font-family: Inter;

        .img-wr{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 14px;
            min-width: 14px;
            height: 19px;
        }
        .main{
            width: 100%;
            text-align: left;
        }
        .shortcut{
            opacity: 0.5;
            color: #6D6D72;
        }
    }
    button.first-child{
        padding: 16px 18px 12px 18px;
    }
    button:last-child{
        padding: 12px 18px 16px 18px;
    }
    button.first-child::before{
        top: 5px;
        height: calc(100% - 5px);
    }
    button:last-child::before{
        bottom: 5px;
        height: calc(100% - 5px);
    }
    button:hover, button:focus{
        outline: initial;
        opacity: initial;
    }

    button::before{
        content: "";
        position: absolute;

        height: 100%;
        width: calc(100% - 10px);
        left: 5px;
        right: 5px;

        background-color: var(--button-fill-color);
        border-radius: 32px;
        color: #FFF;

        opacity: 0;
        z-index: -1;
        /* transition: opacity 0.1s; */
    }
    button:hover::before, button:focus::before{
        content: "";

        opacity: 1;
    }

    .divider{
        display: flex;
        margin: 4px 18px;
        height: 1px;
        background-color: #1B1B1F;
    }
}

.card{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    justify-content: center;
    
    a{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 24%;
        min-width: 176px;
        height: 176px;
        padding: 24px;

        background-color: transparent;
        border: 1px solid var(--button-border-color);
        border-radius: 24px;

        font-size: 18px;
        color: var(--secondary-color);

        transition: 0.2s;

        overflow: hidden;

        span.bottom{
            left: 24px;
            bottom: 24px;

            color: #FFF;
            font-size: 14px;

            opacity: 0.2;
        }
        img.top-left{
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            opacity: 0.4;
        }
        img.app-type{
            width: 24px;
            opacity: 0.4;
        }
        img.original{
            width: initial;
            opacity: initial;
        }
        img.graphs{
            right: 18px;
            top: 18px;
        }
        img.icons{
            max-height: 18px;
            max-width: 18px;
        }
    }
    a:hover{
        color: var(--primary-color);
        background-color: var(--button-border-color);
        box-shadow: inset 0 0 20px 0px #00000065;
    }

    a.height-fill{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 12px;
        gap: 12px;

        height: 100%;
        width: 196px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 18px;

        img{
            position: initial;
        }
    }
}
.preview-head{
    display: flex;
    justify-content: space-between;
    gap: 6px;
    width: 100%;
    div{
        width: 100%;
    }
    .description{
        display: none;
    }
    .preview-img{
        display: none;
    }
    
    h3{
        font-size: 18px;
        font-weight: 500;
    }
}
@media (max-width: 540px){
    .card{
        flex-direction: column;
        a{
            width: 100%;
            height: fit-content;
            /* max-height: 210px; */
            padding: 16px;
            padding-left: 18px;
        }
    }
    .preview-head{
        display: flex;
        gap: 12px;
        width: 100%;
        height: 100%;

        p{
            
        }

        .description{
            display: initial;
            max-height: 78px;

            height: 100%;
            
            font-size: 14px;
            line-height: 140%;

            overflow: hidden;
            background: linear-gradient(to bottom, transparent 50%, black 100%);
            -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
            mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
        }

        img{
            display: initial !important;
            width: 40%;
            border-radius: 12px;
            object-fit: cover;
            
        }
    }
}

.card.users {
    a {
        height: fit-content;
    }
}
.card.head{
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;

    a.bigger{
        min-width: 240px;
    }
}

.overlay {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.24);
    backdrop-filter: blur(6px);

    z-index: 20;
    overflow: auto;
}

form, .modal {
    position: relative;

    .button-absolute-wr{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;
        right: -80px;
    }

    @media screen and (max-width: 960px) {
        .button-absolute-wr {
            right: 12px;
        }
    }
    
    .absolute-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 64px;
        height: 64px;

        border-radius: 64px;
        border: 1px solid var(--button-border-color);
        background-color: var(--background-color);

        cursor: pointer;

        transition: background 0.2s;

        img{
            width: fit-content;
        }
    }

    .absolute-btn.close:hover {
        background: #FF5F57;
    }
}

.modal {
    position: fixed;

    display: none;
    justify-content: center;
    justify-content: flex-start;

    gap: 12px;

    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 64px;

    header {
        position: absolute;
    }
}


.modal-content {
    position: relative;
    counter-reset: step;

    display: flex;
    flex-direction: column;
    gap: 2px;

    max-width: 800px;
    width: 100%;
    padding: 12px;

    border-radius: 42px;
    border: 1px solid var(--button-border-color);
    background: var(--background-color);

    .game_playing {
        display: none !important;
    }
    .game_playing.active, .game_not_playing.active {
        display: flex !important;
    }
    .game_not_playing.hidden{
        display: none !important;
    }


    .img-wrapper{
        width: 100%;
        max-height: 360px;
        height: 360px;
        overflow: hidden;
        overflow-x: auto;

        img, iframe{
            width: auto;
            min-width: 100%;
            height: 100%;
            max-height: 100%;
            border-radius: 30px;
            border: 1px solid var(--button-border-color);
            object-fit: cover;

            -webkit-user-drag: none;
        }
        iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .info-wrapper{
        display: flex;
        flex-direction: column;
        gap: 12px;

        padding: 16px;
        padding-top: 18px;

        h1{
            margin: 0;
            text-align: left;
            font-size: 48px;
            font-weight: 600;
            font-family: Inter;
        }

        .download-wr{
            display: flex;
            align-items: center;
            gap: 6px;

            a, button{
                display: flex;
                height: 68px;
                padding: 24px;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                border: 1px solid transparent;
                border-radius: 24px;
                background: var(--button-fill-color);
                background-blend-mode: screen;
                color: #FFFFFF;

                font-family: "EB Garamond", serif;
                font-size: 28px;
                font-weight: 500;
                font-style: italic;
                white-space: nowrap;

                transition: background-color 0.2s, border-color 0.2s;

                p{
                    max-width: 160px;
                    margin: 0;
                    padding-bottom: 4px;

                    opacity: 0.5;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    background: linear-gradient(to right, transparent 70%, black 100%);
                    -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%);
                    mask-image: linear-gradient(to right, black 70%, transparent 100%);
                }
            }
            .rounded{
                height: 68px;
                width: 68px;
                
                border-radius: 34px;
                
                img{
                    max-width: initial;
                    max-height: initial;
                }
            }

            .disabled{
                color: var(--secondary-color);
                font-weight: 300;

                cursor: not-allowed;
            }



            
            p{
                text-align: right;
            }
        }

        .game-info{
            display: flex;
            align-items: stretch;
            gap: 32px;
            padding-top: 2px;

            div {
                border-right: 1px solid var(--button-border-color);
                padding-right: 32px;

                font-family: Inter;
            }
            div:last-child {
                border: none;
            }

            p{
                color: #6D6D72;
                font-size: 16px;
                font-weight: 300;

                margin: 0;
            }

            h3{
                color: #FFF;
                font-size: 24px;
                font-weight: 600;

                margin: 0;
                padding-top: 2px;

                span{
                    font-size: 16px;
                }
            }
        }
        .game-downloads{
            display: none;
            gap: 6px;
            a{
                align-items: center;
                padding: 14px 18px;

                border-radius: 18px;
                background-color: var(--button-fill-color);

                p{
                    color: white;
                    opacity: 1;
                }
                p:first-child{
                    font-weight: 500;
                }
                p:nth-child(2){
                    opacity: 0.35;
                }
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 32px;
                    width: 32px;

                    border-radius: 16px;
                    background-color: var(--button-border-color);
                }
                b{
                    opacity: 0.35;
                    font-weight: 300;
                }
            }
            div{
                border-right: 0 !important;
            }
            a:first-child{
                background-color: white;
                span{
                    background-color: black;
                }
                p, b{
                    color: black;
                    opacity: 1;
                }
            }
        }
        .game-downloads.show{
            display: flex;
        }
    }
    .game-info.hidden{
        display: none;
    }

    .divider{
        width: 100%;
        height: 1px;
        background-color: var(--button-border-color);
    }
    .divider.height{
        align-self: stretch;
        height: 100%;
        width: 1px;
    }
}

.with-popup {
    position: relative;
}
.with-popup::after {
    content: "Успешно";
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: -18px;
    padding: 4px 12px;

    color: white;
    background-color: var(--success-color);
    backdrop-filter: blur(12px);
    border-radius: 24px;

    font-weight: 500;
    font-size: 16px;

    opacity: 0;
    transform: translateY(-10px) scale(0.8);
    filter: blur(8px);
    transition: opacity 0.2s, transform 0.2s, filter 0.2s;
}


.with-popup.success {
    opacity: 1 !important;
    background-color: var(--success-color-12) !important;
    border: 1px solid var(--success-color) !important;
}

.with-popup svg path {
    transition: stroke 0.2s;
}

.with-popup.success svg path {
    stroke: var(--success-color) !important;
}

.with-popup.success::after {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) scale(1);
}

/* Кнопка копирования */
.with-popup.copy::after {
    content: "Скопировано";
}

/* Кнопка загрузка */
.download.with-popup::after {
    content: "Загрузка началась";
    background-color: var(--blue-color);
}
.download.success {
    background-color: var(--blue-color-12) !important;
    border: 1px solid var(--blue-color) !important;
}
.download.with-popup.success svg path {
    stroke: var(--blue-color) !important;
}


.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}




form {
    counter-reset: step;
    display: flex;
    flex-direction: column;
    gap: 2px;

    max-width: 800px;
    width: 100%;

    border-radius: 48px;
    border: 1px solid var(--button-border-color);
    /* background: radial-gradient(83.8% 78.27% at 76.31% 26.29%, #171717 0%, #141414 100%); */
    /* background: #0A0A0A; */
    background-color: var(--background-color);

    .close-btn{
        right: -66px !important;
    }
    header{
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 64px;

        border-bottom: solid 1px var(--button-border-color);

        label{
            opacity: 0.5;
        }


    }


    .block{
        position: relative;
        padding-bottom: 24px;
        transition: 0.2s !important;

        h1{
            width: 100%;
            text-align: left;
            padding-left: 48px;
            font-size: 48px;
            font-weight: 600;


        }

        .downloads-wr{
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 16px;

            .download-item{
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 8px;

                input{
                    font-size: 18px;
                }
                .remove-btn{
                    position: absolute;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 0;
                    width: 24px;
                    height: 24px;

                    border: none;
                    border-radius: 32px;
                    background-color: var(--button-border-color);
                    color: white;

                    cursor: pointer;
                }
                .remove-btn:hover{
                    background-color: var(--accent-color-12);
                    color: var(--error-color);
                }
            }

        }
        .downloads-add-btn{
            display: flex;
            justify-content: center;
            align-items: center;

            
            padding: 12px;
            width: 100%;

            background-color: var(--button-border-color);
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 32px;

            cursor: pointer;

            transition: opacity 0.2s;
        }
        .downloads-add-btn:hover{
            opacity: 0.6;
        }
        .file-upload-wr{
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 50%;
        }
        .file-upload {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 6px;

            padding: 24px;
            height: fit-content;

            border-radius: 12px;
            border: 2px dashed var(--button-border-color);
            color: #6D6D72;

            user-select: none;
            cursor: pointer;
        }
        .file-upload.success{
            border-color: var(--success-color-12);
        }


        .file-upload{
            transition: background-color 0.2s, margin 0.2s, padding 0.2s, border-color 0.1s, border-radius 0.2s;
        }
        .file-upload:hover {
            margin-left: -12px;
            padding-left: 32px;
            margin-right: -12px;
            padding-right: 32px;
            border-radius: 12px;

            background-color: #0F0F12;
            border-color: transparent;

        }
        .file-upload input[type="file"] {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        

        .inputs{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0px;
            padding-left: 48px;
            padding-right: 48px;
        }

        .input-wr{
            display: flex;
            flex-direction: column;
            gap: 8px;

            padding: 21px 0;
            border-bottom: solid 1px var(--button-border-color);

            label{
                font-size: 16px;
                opacity: 0.2;
            }
            input, select{
                font-size: 24px;
                transition: color 0.2s;
            }
            /* select{
                text-indent: -2px;
            } */
            input[type="submit"]{
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                padding: 14px 12px;

                border: none;
                border-radius: 32px;
                background: white;
                font-size: 16px;
                font-weight: bold;
                color: black;

                cursor: pointer;
            }
            input:focus{
                color: var(--accent-color) !important;
            }
            input[name="title"]{
                font-size: 32px;
            }
            .input-link-wr{
                display: flex;
                gap: 2px;

                cursor: text;

                input{
                    width: 100%;
                    text-transform: lowercase;
                }
                .prefix{
                    opacity: 0.2;
                    font-size: 24px;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
        .input-wr:last-of-type{
            border: none;
        }

        .input-wr.checkbox {
            flex-direction: row !important;
            justify-content: space-between;
            align-items: center;

            color: #6D6D72;

            cursor: pointer !important;
            transition: background-color 0.2s, margin 0.2s, padding 0.2s, border-color 0.1s, border-radius 0.2s;
        }
        .input-wr.checkbox:hover {
            margin-left: -12px;
            padding-left: 12px;
            margin-right: -12px;
            padding-right: 12px;
            border-radius: 12px;

            background-color: #0F0F12;
            border-color: transparent;

        }
        .custom-switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;
            opacity: 1 !important;
        }

        .custom-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            border-radius: 34px;
            border: 1px solid var(--button-border-color);

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            height: 24px;

            transition: 0.3s;
        }

        .slider::before {
            content: '';
            position: absolute;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 22px;
            width: 22px;

            border: 1px solid var(--error-color);
            background-color: var(--accent-color-12);
            background-image: url('/static/icons/slider-off.svg');
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            transition: 0.3s;
        }

        /* Checked state */
        .custom-switch input:checked + .slider::before {
            border-color: var(--success-color);
            background-color: var(--success-color-12);
            background-image: url('/static/icons/slider-on.svg');
        }

        .custom-switch input:checked + .slider::before {
            transform: translateX(16px);
        }
        
        .continue{
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            padding: 14px 12px;

            border: none;
            border-radius: 32px;
            background: var(--button-border-color);
            font-size: 16px;
            color: rgba(255, 255, 255, 0.2);

            cursor: pointer;

            transition: color 0.3s, background 0.3s, opacity 0.2s;
        }
        .continue.active{
            background: white;
            color: black;
        }
        .continue:hover{
            opacity: 0.6;
        }

        .two-side{
            display: flex;
            gap: 32px;
            padding-right: 48px;

            .inputs{
                padding-right: 0;
            }
        }
    }
    .block:not(:last-of-type){
        border-bottom: 1px solid var(--button-border-color);
    }

    .block.inactive{
        border: solid;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: var(--button-border-color);

        padding-bottom: initial;

        cursor: pointer;

        transition: 0.2s;

        h1{
            display: flex;
            align-items: center;
            gap: 12px;

            padding-left: 48px;

            text-align: left;
            font-size: 18px;
            font-weight: 400;
            font-family: Inter;
            color: #ffffff36;

            transition: color 0.2s;
        }
        h1::before{
            content: attr(data-step);

            display: flex;
            width: 32px;
            height: 32px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;

            border-radius: 16px;
            background: rgba(255, 255, 255, 0.06);
        
            transition: color 0.2s, background 0.2s;
        }
        .inputs, .two-side{
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }
    .block.inactive:last-of-type{
        /* border-bottom-width: 0px; */
        margin-bottom: 48px;
    }
    .block.inactive:hover{

        transition: 0.2s;
        h1{
            color: white;
        }
        h1::before{
            background: white;
            color: black;


        }
    }
}
.error-span{
    margin: 12px 0;
    padding: 12px 18px !important;

    border-radius: 12px;
    border-bottom: none !important;

    background-color: var(--error-color-06);
    color: var(--error-color);
    text-align: left;

    cursor: not-allowed;
}
#error-box{
    margin: 12px 0;
    padding: 12px 18px !important;

    border-radius: 12px;
    border-bottom: none !important;


    text-align: left;

    cursor: not-allowed;
    opacity: 0;
    .response-message{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    a{
        border-radius: 32px;
    }
}
#error-box.success{
    background-color: var(--success-color-06);
    opacity: 1;
    
    a{
        background-color: var(--success-color-06);
        color: var(--success-color);
    }
}
#error-box.error {
    background-color: var(--error-color-06);
    opacity: 1;
    a{
        background-color: var(--error-color-06);
        color: var(--error-color);
    }
}
#error-box.warning{
    color: white;
    background-color: var(--button-fill-color);
    opacity: 1;
}
    



.game-info-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #001f3d;
    border-radius: 12px;
    padding: 12px 18px;

    a {
        background-color: #1b263b;

    }
}

.rounded-download {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ccff;
    width: 64px;
    height: 64px;
    border-radius: 32px;

    svg {
        height: 36px;

        path {
            stroke: #00ccff;
        }
    }

}

.rounded-download:hover {
    path {
        stroke: white;
        transition: stroke 0.2s;
    }
}



#category.placeholder, #app_type.placeholder {
    color: var(--secondary-color) !important;

    transition: 0s;
}


.terms{
    h1{
        margin-top: 32px;
    }
    h2{
        padding-top: 24px;
    }
    *{
        text-align: left !important;
    }
}



@media (max-width: 540px){
    header.base{
        .add-btn{
            display: none;
        }
    }
}

@media (max-width: 1020px){
    .modal{
        padding: 24px;
    }
}

@media (max-width: 1020px){
    .two-side{
        flex-direction: column;

        padding-left: 48px !important;

        .inputs{
            padding: 0 !important;
        }

        .file-upload-wr{
            width: 100% !important;
            padding: 0 !important;
        }
    }
}





*::selection {
  background: var(--accent-color-12);
  color: var(--accent-color);
}

*::-moz-selection {
  background: var(--accent-color-12);
  color: var(--accent-color);
}

*::-webkit-selection {
  background: var(--accent-color-12);
  color: var(--accent-color);
}