/* @font-face {
    font-family: 'Light';
    src: url('/static/fonts/PragmaticaExtended-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Medium';
    src: url('{{ url_for("static", filename="fonts/PragmaticaExtended-Medium.woff2") }}') format('woff2');
} */

:root{
    --border-color: rgba(255, 255, 255, 0.06);
    --primary-color: #FFFFFF;
    --secondary-color: #909090;
    --background-color: #000000;
    --third-color: rgba(255, 255, 255, 0.2);
    --accent-color: #FF613E;
    --system-error-color: #FF5E5E;
    --system-error-color-12: #FF613E1F;
    --system-error-color-05: rgba(255, 94, 94, 0.05);
    --system-success-color: #22BA40;
    --system-success-color-12: #22BA401F;
    /* prev accent rgb(131, 131, 255) */
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vhw;

    background-color: var(--background-color);
    color: var(--primary-color);

    overflow: hidden;
}
body {
    font-family: 'Inter';
}

* {
    box-sizing: border-box !important;
}


.flex {
    display: flex;
    gap: 2px;
}

.flex-cl {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flex-grow {
    flex-grow: 1;
    width: 100%;
}

.flex-center {
    align-items: center;
    gap: 8px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.gap-12{
    gap: 12px;
}
.gap-8 {
    gap: 8px;
}
.gap-6{
    gap: 6px;
}

h3, p {
    margin: 4px 0;
}
p{
    color: var(--secondary-color);
}

/* TEMPLATES */




a {
    display: flex;

    padding: 6px 8px;
    width: fit-content;
    height: fit-content;

    color: white;
    background-color: var(--border-color);
    border-radius: 4px;
    text-decoration: none;

    transition: opacity 0.2s;

    user-select: none;
    -moz-user-select: none;

    img{
        -webkit-user-drag: none;
    }
}
a:focus{
    background-color: var(--third-color) !important;
    border-color:  transparent !important;
    outline: none !important;
}

.flash-message{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    bottom: 24px;
    padding: 12px 18px;
    width: fit-content;
    max-width: 100%;

    background-color: var(--border-color);
    backdrop-filter: blur(32px);
    border-radius: 32px;

    cursor: default;
    user-select: none;
    -webkit-user-drag: none;

    a{
        background-color: transparent;
        border-radius: 12px;

        color: var(--accent-color);
    }
}
/* #close-flash-message{
    position: absolute;
    right: -8px;
    top: -8px;
    height: 24px;
    width: 24px;

    background-color: var(--border-color);
    backdrop-filter: blur(32px);
    border: none;
    border-radius: 16px;
    color: white;
}
#close-flash-message:hover{
    opacity: 0.8;
} */

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.base {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1020px;

    .right-side{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        width: fit-content;
    }

    .search{
        width: 256px;
        cursor: text;
    }
    #show-nav.active{
        z-index: 15;
        background-color: #111;
    }

}

nav{
    z-index: 15;

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;

    top: 76px;
    right: 0;
    width: fit-content;



    a{
        width: fit-content !important;
        min-width: fit-content;
    }
}

nav{
    opacity: 0;
    pointer-events: none;


    transition: 0.2s;
}

nav.visible{
    opacity: initial;
    pointer-events: initial;

}
nav * {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s;
}

nav.visible * {
  opacity: 1;
  transform: translateY(0);
}

/* Постепенное появление элементов с задержкой */
nav.visible:not(:hover) :nth-child(1) { transition-delay: 0.1s; }
nav.visible:not(:hover) :nth-child(2) { transition-delay: 0.15s; }
nav.visible:not(:hover) :nth-child(3) { transition-delay: 0.2s; }
nav.visible:not(:hover) :nth-child(4) { transition-delay: 0.25s; }
nav.visible:not(:hover) :nth-child(5) { transition-delay: 0.3s; }
nav.visible:not(:hover) :nth-child(6) { transition-delay: 0.35s; }
nav.visible:not(:hover) :nth-child(7) { transition-delay: 0.4s; }

nav.visible a:hover {
  transform: scale(1.02);
  transition: all 0.2s !important;
  transition-delay: 0;
}
#nav-bg{
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.17);
    backdrop-filter: blur(0px);

    opacity: 0;
    pointer-events: none;

    transition: 0.2s;
}
#nav-bg.active{
    opacity: initial;
    pointer-events: initial;

    backdrop-filter: blur(6px);
}
a, button{
    cursor: pointer;
    user-select: none;
}

.divider.header{
    margin-top: 18px;
    margin-bottom: 8px;
    width: 100%;
    height: 1px;
    background-color: #1B1B1F;
}

.outline{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 7px;

    border-radius: 81px;
    border: 1px solid #111;
    background-color: transparent;
    color: var(--secondary-color);
}

.no-fill{
    background-color: transparent;
}


img{
    max-width: 100%;
    max-height: 100%;
}
.fill{
    display: flex;
    padding: 14px 21px;
    justify-content: center;
    align-items: center;
    gap: 11px;

    height: 48px;
    white-space: nowrap;


    border-radius: 16px;
    border: 1px solid rgba(31, 31, 37, 0.60);
    background-color: #131316 !important;
    color: var(--secondary-color);

    cursor: pointer;
    font-size: 16px;
}
.orange{
    background-color: var(--accent-color) !important;
    color: var(--background-color) !important;
}

.fill.alt{
    gap: 8px;
    background-color: transparent !important;
    border-radius: 32px;
}

.version{
    span{
        opacity: 0.5;
    }
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;

    border-radius: 32px;
}
.size64{
    width: 64px;
    height: 64px;
}
.size48{
    width: 48px;
    height: 48px;
}

a:hover {
    opacity: 0.8;
}

label{
    font-size: 16px;
    /* font-weight: 400; */
}
input, select{
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
}
input:focus, select:focus{
    border: none;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
}
.absolute-menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    backdrop-filter: blur(10px);

    a{
        font-size: 32px;
        padding: 24px 32px;
        border-radius: 48px;


    }
}
.wrapper{
    padding: 24px;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.wrapper {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) #000000;
    position: relative;
}

.wrapper::-webkit-scrollbar {
    width: 8px;
    background: white;
    margin-left: -4px;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;

    cursor: pointer;
}
.wrapper::-webkit-scrollbar-thumb:hover{
    background-color: blue;
    color: blue;
}

.wrapper::-webkit-scrollbar-track {
    background: white;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 32px;

    h1,h2 {
        font-family: "EB Garamond", serif;

        width: 100%;
        text-align: center;
    }
    h2{
        padding-bottom: 24px;
        padding-top: 48px;
        margin: 0;

        font-size: 28px;
        font-weight: 400;
    }
}
.card-wrapper{
    max-width: 1020px;
    width: 100%;

    .category-wr{
        position: relative;
        display: flex;
        flex-direction: column;

        gap: 4px;

        a{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 48px;
            height: 48px;

            border-radius: 24px;
            color: var(--secondary-color);

            overflow: hidden;
        }
        a.shares.active{
            display: none;
        }
        a.active{
            background-color: var(--primary-color)
        }
        a.active:focus{
            background-color: var(--primary-color) !important;
            * {
                stroke: red !important;
            }
        }
    }
}
.card{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;

    a{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 24%;
        min-width: 176px;
        height: 176px;
        padding: 24px;

        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: 24px;

        font-size: 18px;
        color: var(--secondary-color);

        transition: 0.2s;

        overflow: hidden;

        span.bottom{
            left: 24px;
            bottom: 24px;

            color: #FFF;
            font-size: 14px;

            opacity: 0.2;
        }
        img{
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            opacity: 0.4;
        }
        img.original{
            width: initial;
            opacity: initial;
        }
        img.graphs{
            right: 18px;
            top: 18px;
        }
        img.icons{
            max-height: 18px;
            max-width: 18px;
        }
    }
    a:hover{
        color: var(--primary-color);
        background-color: var(--border-color);
        box-shadow: inset 0 0 20px 0px #00000065;
    }

    a.height-fill{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 12px;
        gap: 12px;

        height: 100%;
        width: 196px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 18px;

        img{
            position: initial;
        }
    }

}
.card.users {
    a {
        height: fit-content;
    }
}

.overlay {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.24);
    backdrop-filter: blur(6px);

    z-index: 1;
    overflow: hidden;
}

form, .modal {
    position: relative;

    .button-absolute-wr{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;
        right: -80px;
    }
    
    .absolute-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 64px;
        height: 64px;

        border-radius: 64px;
        border: 1px solid var(--border-color);
        background-color: var(--background-color);

        cursor: pointer;

        transition: background 0.2s;

        img{
            width: fit-content;
        }
    }

    .absolute-btn.close:hover {
        background: #FF5F57;
    }
}

.modal {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 64px;

    header {
        position: absolute;
    }
}

.modal-content {
    position: relative;
    counter-reset: step;

    display: flex;
    flex-direction: column;
    gap: 2px;

    max-width: 800px;
    width: 100%;
    padding: 12px;

    border-radius: 42px;
    border: 1px solid var(--border-color);
    background: var(--background-color);

    .img-wrapper{
        width: 100%;
        max-height: 360px;
        height: 360px;
        overflow: hidden;
        overflow-x: auto;

        img{
            width: auto;
            height: 100%;
            max-height: 100%;
            border-radius: 30px;
            border: 1px solid var(--border-color);

            -webkit-user-drag: none;
        }
    }

    .info-wrapper{
        display: flex;
        flex-direction: column;
        gap: 12px;

        padding: 16px;
        padding-top: 18px;

        h1{
            margin: 0;
            text-align: left;
            font-size: 48px;
            font-weight: 600;
            font-family: Inter;
        }

        .download-wr{
            display: flex;
            align-items: center;

            a{
                display: flex;
                height: 68px;
                padding: 0px 24.999px 0px 25.707px;
                justify-content: center;
                align-items: center;

                border-radius: 24px;
                background: #0F0F12;
                background-blend-mode: screen;

                font-family: "EB Garamond", serif;
                font-size: 16px;
                font-weight: 600;
                color: #FFFFFF;

                font-size: 28px;
                font-style: italic;
                font-weight: 500;
                line-height: normal;
            }
        }

        .game-info{
            display: flex;
            align-items: stretch;
            gap: 32px;
            padding-top: 2px;

            div {
                border-right: 1px solid #131316;
                padding-right: 32px;

                font-family: Inter;
            }
            div:last-child {
                border: none;
            }

            p{
                color: #6D6D72;
                font-size: 16px;
                font-weight: 300;

                margin: 0;
            }

            h3{
                color: #FFF;
                font-size: 24px;
                font-weight: 600;

                margin: 0;
                padding-top: 2px;

                span{
                    font-size: 16px;
                }
            }
        }
    }

    .divider{
        width: 100%;
        height: 1px;
        background-color: #131316;
    }
    .divider.height{
        align-self: stretch;
        height: 100%;
        width: 1px;
    }
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}




form {
    counter-reset: step;
    display: flex;
    flex-direction: column;
    gap: 2px;

    max-width: 800px;
    width: 100%;

    border-radius: 48px;
    border: 1px solid var(--border-color);
    /* background: radial-gradient(83.8% 78.27% at 76.31% 26.29%, #171717 0%, #141414 100%); */
    /* background: #0A0A0A; */
    background-color: var(--background-color);

    .close-btn{
        right: -66px !important;
    }
    header{
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 64px;

        border-bottom: solid 1px var(--border-color);

        label{
            opacity: 0.5;
        }


    }


    .block{
        position: relative;
        padding-bottom: 24px;
        transition: 0.2s !important;

        h1{
            width: 100%;
            text-align: left;
            padding-left: 48px;
            font-size: 48px;
            font-weight: 600;


        }

        .downloads-wr{
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 16px;

            .download-item{
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 8px;

                input{
                    font-size: 18px;
                }
                .remove-btn{
                    position: absolute;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 32px;
                    border: none;
                    background-color: var(--border-color);
                    color: white;
                    text-box: auto;

                    cursor: pointer;
                }
                .remove-btn:hover{
                    background-color: #FF5F57;
                }
            }

        }
        .downloads-add-btn{
            display: flex;
            justify-content: center;
            align-items: center;

            
            padding: 12px;
            width: 100%;

            background-color: var(--border-color);
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 32px;

            cursor: pointer;

            transition: opacity 0.2s;
        }
        .downloads-add-btn:hover{
            opacity: 0.6;
        }
        .file-upload-wr{
            width: 50%;
        }
        .file-upload {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            padding: 14px;
            width: 100%;
            min-height: 100%;

            background: rgba(255, 255, 255, 0.02);
            border-radius: 12px;
            color: #999;

            user-select: none;
            cursor: pointer;
        }

        .file-upload input[type="file"] {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .file-upload:hover{
            opacity: 0.6;
        }

        .inputs{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0px;
            padding-left: 48px;
            padding-right: 48px;
        }

        .input-wr{
            display: flex;
            flex-direction: column;
            gap: 8px;

            padding: 21px 0;
            border-bottom: solid 1px var(--border-color);

            label{
                font-size: 16px;
                opacity: 0.2;
            }
            input, select{
                font-size: 24px;
                transition: color 0.2s;
            }
            /* select{
                text-indent: -2px;
            } */
            input[type="submit"]{
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                padding: 14px 12px;

                border: none;
                border-radius: 32px;
                background: white;
                font-size: 16px;
                font-weight: bold;
                color: black;

                cursor: pointer;
            }
            input:focus{
                color: var(--accent-color) !important;
            }
            input[name="title"]{
                font-size: 32px;
            }
            .input-link-wr{
                display: flex;
                gap: 2px;

                cursor: text;

                input{
                    width: 100%;
                }
                .prefix{
                    opacity: 0.2;
                    font-size: 24px;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
        .input-wr:last-of-type{
            border: none;
        }

        .input-wr.checkbox {
            flex-direction: row !important;
            justify-content: space-between;
            align-items: center;
        }
        .custom-switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 24px;
            opacity: 1 !important;
        }

        .custom-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            border-radius: 34px;
            border: 1px solid var(--border-color);

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            height: 24px;

            transition: 0.3s;
        }

        .slider::before {
            content: '';
            position: absolute;

            display: flex;
            justify-content: center;
            align-items: center;

            height: 22px;
            width: 22px;

            border: 1px solid var(--system-error-color);
            background-color: var(--system-error-color-12);
            background-image: url('/static/icons/slider-off.svg');
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            transition: 0.3s;
        }

        /* Checked state */
        .custom-switch input:checked + .slider::before {
            border-color: var(--system-success-color);
            background-color: var(--system-success-color-12);
            background-image: url('/static/icons/slider-on.svg');
        }

        .custom-switch input:checked + .slider::before {
            transform: translateX(16px);
        }
        
        .continue{
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            padding: 14px 12px;

            border: none;
            border-radius: 32px;
            background: var(--border-color);
            font-size: 16px;
            color: rgba(255, 255, 255, 0.2);

            cursor: pointer;

            transition: color 0.3s, background 0.3s, opacity 0.2s;
        }
        .continue.active{
            background: white;
            color: black;
        }
        .continue:hover{
            opacity: 0.6;
        }

        .two-side{
            display: flex;
            gap: 32px;
            padding-right: 48px;

            .inputs{
                padding-right: 0;
            }
        }
    }
    .block:not(:last-of-type){
        border-bottom: 1px solid var(--border-color);
    }

    .block.inactive{
        border: solid;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: var(--border-color);

        padding-bottom: initial;

        cursor: pointer;

        transition: 0.2s;

        h1{
            display: flex;
            align-items: center;
            gap: 12px;
            text-align: left;
            font-size: 18px;
            font-weight: 400;
            padding-left: 48px;

            color: #ffffff36;

            transition: color 0.2s;
        }
        h1::before{
            content: attr(data-step);

            display: flex;
            width: 32px;
            height: 32px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;

            border-radius: 16px;
            background: rgba(255, 255, 255, 0.06);
        
            transition: color 0.2s, background 0.2s;
        }
        .inputs, .two-side{
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }
    .block.inactive:last-of-type{
        /* border-bottom-width: 0px; */
        margin-bottom: 48px;
    }
    .block.inactive:hover{

        transition: 0.2s;
        h1{
            color: white;
        }
        h1::before{
            background: white;
            color: black;

        }
    }
}

.error {
    color: var(--system-error-color);
    text-align: left;
    background-color: var(--system-error-color-05);
    border-radius: 12px;
    margin: 12px 0;
    padding: 12px !important;
    border-bottom: none !important;
    cursor: not-allowed;
}


.game-info-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #001f3d;
    border-radius: 12px;
    padding: 12px 18px;

    a {
        background-color: #1b263b;

    }
}

.rounded-download {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ccff;
    width: 64px;
    height: 64px;
    border-radius: 32px;

    svg {
        height: 36px;

        path {
            stroke: #00ccff;
        }
    }

}

.rounded-download:hover {
    path {
        stroke: white;
        transition: stroke 0.2s;
    }
}



#category.placeholder, #app_type.placeholder {
    color: var(--secondary-color) !important;

    transition: 0s;
}