/* @font-face {
    font-family: 'Light';
    src: url('/static/fonts/PragmaticaExtended-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Medium';
    src: url('{{ url_for("static", filename="fonts/PragmaticaExtended-Medium.woff2") }}') format('woff2');
} */

:root{
    --border-color: rgba(255, 255, 255, 0.06);
    --primary-color: #FFFFFF;
    --secondary-color: #909090;
    --background-color: #0D0D0D;
    --third-color: rgba(255, 255, 255, 0.2);
    --accent-color: #FF613E;
    --system-error-color: #FF5E5E;
    --system-error-color-05: rgba(255, 94, 94, 0.05);
    /* prev accent rgb(131, 131, 255) */
}
.flex {
    display: flex;
    gap: 2px;
}

.flex-cl {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flex-grow {
    flex-grow: 1;
}

.flex-center {
    align-items: center;
    gap: 8px;
}

.flex-between {
    justify-content: space-between;
}

.gap-8 {
    gap: 8px;
}

h3, p {
    margin: 4px 0;
}
p{
    color: var(--secondary-color);
}
a {
    display: flex;

    padding: 6px 8px;
    width: fit-content;
    height: fit-content;

    color: white;
    background-color: var(--border-color);
    border-radius: 4px;
    text-decoration: none;

    transition: opacity 0.2s;

    user-select: none;
    -moz-user-select: none;

    img{
        -webkit-user-drag: none;
    }
}
a:focus{
    background-color: var(--third-color) !important;
    border-color:  transparent !important;
    outline: none !important;
}

.flash-message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 24px;
    padding: 12px 18px;
    width: fit-content;
    max-width: 100%;

    background-color: var(--border-color);
    border-radius: 32px;

    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.base {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 32px;
    width: 100%;
    max-width: 620px;
    height: 64px;

    border-radius: 32px;
    border: 1px solid;
    border-color: var(--border-color);

    color: var(--secondary-color);

    .right-side{
        display: flex;
        align-items: center;
        gap: 8px;

        height: 100%;

        .close-buttons{
            display: flex;
            gap: 4px;
        }
    }

    a{
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 7px;

        height: 100%;
        width: 48px; 

        background-color: transparent;
        color: var(--secondary-color);
        border: 1px solid transparent;
        border-right-color: var(--border-color);
        border-left-color: var(--border-color);

        border-radius: 0;
        -webkit-user-drag: none;
    }
    a.fill{
        background-color: var(--border-color);
        border: 1px solid transparent;
        border-radius: 24px;

        height: 48px;
        width: 48px;
    }
    a.search{
        padding: 22px;
        cursor: text;
    }
    a.logo{
        padding: 12px;
    }
    a.fit{
        width: fit-content;
    }
    a:hover{
        background-color: var(--border-color);

        transition: 0.2s
    }
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vhw;

    background-color: var(--background-color);
    color: var(--primary-color);

    overflow: hidden;
}
body {
    font-family: 'Inter';
}

* {
    box-sizing: border-box !important;
}



a:hover {
    opacity: 0.8;
}

label{
    font-size: 16px;
    /* font-weight: 400; */
}
input, select{
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
}
input:focus, select:focus{
    border: none;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
}
.absolute-menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    backdrop-filter: blur(10px);

    a{
        font-size: 32px;
        padding: 24px 32px;
        border-radius: 48px;


    }
}
.wrapper{
    padding: 24px;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapper {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) #0d0d0d;
    position: relative;
}

.wrapper::-webkit-scrollbar {
    width: 8px;
    background: white;
    margin-left: -4px; /* смещаем скроллбар левее */
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;

    cursor: pointer;
}
.wrapper::-webkit-scrollbar-thumb:hover{
    background-color: blue;
    color: blue;
}

.wrapper::-webkit-scrollbar-track {
    background: white;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1,h2 {
        width: 100%;
        text-align: center;
    }
    h2{
        font-size: 21px;
        padding-bottom: 24px;
        padding-top: 48px;
        margin: 0;
    }
}
.library-wr{
    max-width: 1020px;
    width: 100%;
    .category-wr{
        position: relative;
        display: flex;
        flex-direction: column;

        gap: 4px;
        a{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 48px;
            height: 48px;

            border-radius: 24px;
            color: var(--secondary-color);

            overflow: hidden;
        }
        a.shares.active{
            display: none;
        }
        a.active{
            background-color: var(--primary-color)
        }
        a.active:focus{
            background-color: var(--primary-color) !important;
            * {
                stroke: red !important;
            }
        }
    }
}
.object-wr{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;

    a{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 24%;
        min-width: 176px;
        height: 176px;
        padding: 24px;

        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: 24px;

        font-size: 18px;
        color: var(--secondary-color);

        transition: 0.2s;

        .file-size{
            left: 24px;
            bottom: 24px;

            color: #FFF;
            font-size: 16px;

            opacity: 0.2;
        }
        img{
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            opacity: 0.4;
        }
    }
    a:hover{
        color: var(--primary-color);
        background-color: var(--border-color);
        box-shadow: inset 0 0 20px 0px #00000065;
    }

}
.object-wr.users{
    a{
        height: fit-content;
    }
}
.overlay{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

form {
    counter-reset: step;
    display: flex;
    flex-direction: column;
    gap: 2px;

    max-width: 800px;
    width: 100%;

    border-radius: 48px;
    border: 1px solid var(--border-color);
    background: radial-gradient(83.8% 78.27% at 76.31% 26.29%, #171717 0%, #141414 100%);
    
    header{
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 64px;

        border-bottom: solid 1px var(--border-color);

        label{
            opacity: 0.5;
        }

        .close-btn{
            position: absolute;
            right: -66px;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 48px;
            height: 48px;

            border-radius: 64px;
            border: 1px solid var(--border-color);
            background: var(--background-color);

            cursor: pointer;

            transition: background 0.2s;
        }
        .close-btn:hover{
            background: #FF5F57;
        }
    }

    .block{
        position: relative;
        padding-bottom: 24px;
        transition: 0.2s !important;

        h1{
            width: 100%;
            text-align: center;

        }

        .downloads-wr{
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 16px;

            .download-item{
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 8px;

                input{
                    font-size: 18px;
                }
                .remove-btn{
                    position: absolute;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 32px;
                    border: none;
                    background-color: var(--border-color);
                    color: white;
                    text-box: auto;

                    cursor: pointer;
                }
                .remove-btn:hover{
                    background-color: #FF5F57;
                }
            }

        }
        .downloads-add-btn{
            display: flex;
            justify-content: center;
            align-items: center;

            
            padding: 12px;
            width: 100%;

            background-color: var(--border-color);
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 32px;

            cursor: pointer;

            transition: opacity 0.2s;
        }
        .downloads-add-btn:hover{
            opacity: 0.6;
        }
        .file-upload-wr{
            width: 50%;
        }
        .file-upload {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            padding: 14px;
            width: 100%;
            min-height: 100%;

            background: rgba(255, 255, 255, 0.02);
            border-radius: 12px;
            color: #999;

            user-select: none;
            cursor: pointer;
        }

        .file-upload input[type="file"] {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .file-upload:hover{
            opacity: 0.6;
        }

        .inputs{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0px;
            padding-left: 48px;
            padding-right: 48px;
        }

        .input-wr{
            display: flex;
            flex-direction: column;
            gap: 8px;

            padding: 21px 0;
            border-bottom: solid 1px var(--border-color);

            label{
                font-size: 16px;
                opacity: 0.2;
            }
            input, select{
                font-size: 24px;
                transition: color 0.2s;
            }
            select{
                /* text-indent: -2px; */
            }
            input[type="submit"]{
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                padding: 14px 12px;

                border: none;
                border-radius: 32px;
                background: white;
                font-size: 16px;
                font-weight: bold;
                color: black;

                cursor: pointer;
            }
            input:focus{
                color: var(--accent-color) !important;
            }
            input[name="title"]{
                font-size: 32px;
            }
            .input-link-wr{
                display: flex;
                gap: 2px;

                cursor: text;

                input{
                    width: 100%;
                }
                .prefix{
                    opacity: 0.2;
                    font-size: 24px;
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
        .input-wr:last-of-type{
            border: none;
        }
        
        .continue{
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            padding: 14px 12px;

            border: none;
            border-radius: 32px;
            background: var(--border-color);
            font-size: 16px;
            color: rgba(255, 255, 255, 0.2);

            cursor: pointer;

            transition: color 0.3s, background 0.3s, opacity 0.2s;
        }
        .continue.active{
            background: white;
            color: black;
        }
        .continue:hover{
            opacity: 0.6;
        }

        .two-side{
            display: flex;
            gap: 32px;
            padding-right: 48px;

            .inputs{
                padding-right: 0;
            }
        }
    }
    .block:not(:last-of-type){
        border-bottom: 1px solid var(--border-color);
    }

    .block.inactive{
        border: solid;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: var(--border-color);

        padding-bottom: initial;

        cursor: pointer;

        transition: 0.2s;

        h1{
            display: flex;
            align-items: center;
            gap: 12px;
            text-align: left;
            font-size: 18px;
            font-weight: 400;
            padding-left: 48px;

            color: #ffffff36;

            transition: color 0.2s;
        }
        h1::before{
            content: attr(data-step);

            display: flex;
            width: 32px;
            height: 32px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;

            border-radius: 16px;
            background: rgba(255, 255, 255, 0.06);
        
            transition: color 0.2s, background 0.2s;
        }
        .inputs, .two-side{
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }
    .block.inactive:last-of-type{
        /* border-bottom-width: 0px; */
        margin-bottom: 48px;
    }
    .block.inactive:hover{

        transition: 0.2s;
        h1{
            color: white;
        }
        h1::before{
            background: white;
            color: black;

        }
    }
}

.error {
    color: var(--system-error-color);
    text-align: left;
    background-color: var(--system-error-color-05);
    border-radius: 12px;
    margin: 12px 0;
    padding: 12px !important;
    border-bottom: none !important;
    cursor: not-allowed;
}


.game-info-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #001f3d;
    border-radius: 12px;
    padding: 12px 18px;

    a {
        background-color: #1b263b;

    }
}

.rounded-download {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00ccff;
    width: 64px;
    height: 64px;
    border-radius: 32px;

    svg {
        height: 36px;

        path {
            stroke: #00ccff;
        }
    }

}

.rounded-download:hover {
    path {
        stroke: white;
        transition: stroke 0.2s;
    }
}



#category.placeholder, #app_type.placeholder {
    color: var(--secondary-color) !important;

    transition: 0s;
}