{% extends 'base.html' %}

{% block title %}
{% endblock title %}



{% block content %}


<div class="card-wrapper flex gap-8">
    <div class="card head">
        <div class="flex-cl gap-12">
            <a href="/game/create" class="orange height-fill">
                <img class="original icons" src="{{ url_for('static', filename='icons/plus-black.svg') }}" alt="">
                Добавить...
            </a>
            {% if not session.get('token') %}
            <a href="/account/login" class="height-fill">
                <img class="original icons" src="{{ url_for('static', filename='icons/person-sketch.svg') }}" alt="">
                Войти в аккаунт
            </a>
            {% else %}
            <a href="/account/me" class="height-fill">
                <img class="original icons" src="{{ url_for('static', filename='icons/person-sketch.svg') }}" alt="">
                Открыть профиль
            </a>
            {% endif %}
        </div>

        <div class="flex-end gap-12 flex-grow">
            <a class="bigger">
                Коллекции
                <img class="original graphs" src="{{ url_for('static', filename='icons/heart.svg') }}" alt="">
                <span class="bottom">
                    В РАЗРАБОТКЕ
                </span>
            </a>
            <a class="bigger" href="/graphs">
                Graphs
                <img class="original graphs" src="{{ url_for('static', filename='icons/graphs.svg') }}" alt="">
                <span class="bottom">
                    Просматривайте игры и приложения в виде графиков
                </span>
            </a>
        </div>
    </div>
</div>

<div class="overlay modal" id="gameModal">
    <div class="modal-content">

    </div>
</div>

<style>

</style>




<div class="overlay modal" id="gameModal" style="display:none;">
  <div class="modal-content">
    <a class="close-btn" onclick="closeModal()">✕</a>
    <div class="loading">Загружаю...</div>
  </div>
</div>


<h2>Недавно обновлено</h2>
<div class="card-wrapper flex gap-8">
    <div class="card">
        {% for app in latest_shares %}
        <a
        hx-get="/api/game/{{ app.link }}/modal" 
        hx-target="#gameModal .modal-content"
        hx-trigger="click"
        onclick="document.getElementById('gameModal').style.display='flex'">
            {{ app.title }}

            {% if app.game_downloads and app.game_downloads|length > 0 %}
                <span class="bottom">
                    {{ app.game_downloads[0].file_size|filesize|safe }}
                </span>
                
            {% else %}
                <span class="bottom">
                    Нет файлов
                </span>
            {% endif %}

            {% if app.game_info.app_type == 'app' %}
            <img src="{{ url_for('static', filename='icons/terminal.svg') }}">
            {% endif %}
            {% if app.game_info.app_type == 'game' %}
            <img src="{{ url_for('static', filename='icons/joystick.svg') }}">
            {% endif %}
        </a>

        {% endfor %}
    </div>
</div>

<h2>Библиотека приложений</h2>
<div class="card-wrapper flex gap-8">
    <div class="card selectable" data-category="shares">
        {% for app in shares %}
        <a
        hx-get="/api/game/{{ app.link }}/modal" 
        hx-target="#gameModal .modal-content"
        hx-trigger="click"
        onclick="document.getElementById('gameModal').style.display='flex'">

        <!-- <a href="/game/{{ app.link }}"> -->
            {{ app.title }}

            {% if app.game_downloads and app.game_downloads|length > 0 %}
                <span class="bottom">
                    {{ app.game_downloads[0].file_size|filesize|safe }}
                </span>
                
            {% else %}
                <span class="bottom">
                    Нет файлов
                </span>
            {% endif %}

            {% if app.game_info.app_type == 'app' %}
            <img src="{{ url_for('static', filename='icons/terminal.svg') }}">
            {% endif %}
            {% if app.game_info.app_type == 'game' %}
            <img src="{{ url_for('static', filename='icons/joystick.svg') }}">
            {% endif %}

        </a>


        {% endfor %}
    </div>

    <div class="card selectable" data-category="games">
        {% for app in games %}
        <a
        hx-get="/api/game/{{ app.link }}/modal" 
        hx-target="#gameModal .modal-content"
        hx-trigger="click"
        onclick="document.getElementById('gameModal').style.display='flex'">
            {{ app.title }}

            {% if app.game_downloads and app.game_downloads|length > 0 %}
                <span class="bottom">
                    {{ app.game_downloads[0].file_size|filesize|safe }}
                </span>
                
            {% else %}
                <span class="bottom">
                    Нет файлов
                </span>
            {% endif %}
        </a>

        {% endfor %}
    </div>


    <div class="card selectable" data-category="apps">
        {% for app in apps %}
        <a href="/game/{{ app.link }}">
            {{ app.title }}
            {{ app.game_downloads[0] }}
            {% if app.game_downloads and app.game_downloads|length > 0 %}
                <span class="bottom">
                    {{ app.game_downloads[0].file_size|filesize|safe }}
                </span>
                
            {% else %}
                <span class="bottom">
                    Нет файлов
                </span>
            {% endif %}
        </a>

        {% endfor %}
    </div>

    <div class="category-wr">
        <a href="#" class="shares" data-category="shares">
            <img src="{{ url_for('static', filename='icons/close.svg') }}" alt="ALL">
        </a>
        <a href="#" data-category="games">
            <img src="{{ url_for('static', filename='icons/joystick.svg') }}" alt="GAMES">
        </a>
        <a href="#" data-category="apps">
            <img src="{{ url_for('static', filename='icons/terminal.svg') }}" alt="APPS">
        </a>
    </div>
</div>



<!-- <h1>Файлы</h1>
<div class="card">
    {% for file in files %}
    <a href="/file/{{ file.link }}">{{ file.title }}</a>
    {% endfor %}
</div> -->

<h2>Юзеры</h2>
<div class="card-wrapper flex gap-8">
    <div class="card users">
        {% for user in users %}
        <a href="/user/{{ user["username"] }}">{{user["username"]}}</a>
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function () {
        const $blocks = $('.card.selectable');
        const $links = $('.category-wr a');

        function showCategory(category) {
            $blocks.each(function () {
                const $block = $(this);
                $block.toggle($block.data('category') === category);
            });

            $links.removeClass('active');
            $links.filter(`[data-category="${category}"]`).addClass('active');
        }

        $links.on('click', function (e) {
            e.preventDefault();
            const category = $(this).data('category');
            showCategory(category);
        });

        showCategory('shares');
    });
</script>

<script>
    window.addEventListener('click', e => {
    if (e.target == document.getElementById('gameModal')) {
        document.getElementById('gameModal').style.display = 'none';
    }
    });
</script>

{% endblock content %}