{% extends 'base.html' %}

{% block title %}
account /
{% endblock title %}




{% block content %}


<div class="overlay">
    <form method="post">
        <div class="button-absolute-wr">
            <a id="modalClose" type="reset" class="absolute-btn close" href="/">
                <img src="{{ url_for('static', filename='icons/close.svg') }}" alt="Close">
            </a>
        </div>

        <div class="block">
            <h1>Вход в аккаунт</h1>
            <div class="inputs">
                <div class="input-wr">
                    <label for="username">Юзернейм</label>
                    <input type="text" name="username" id="username" placeholder="username" required>
                </div>
                <div class="input-wr">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" id="password" placeholder="12341234" required>
                </div>

                {% if error %}
                    <div class="input-wr error">
                        <span>{{ error }}</span>
                    </div>
                {% endif %}

                <div class="input-wr">
                    <a href="/account/register" class="continue">Еще нет аккаунта? - Создать</a>
                    <input type="submit" value="Войти">
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock content %}
