{% extends 'base.html' %}

{% block title %}
{{ game.title }} - Просмотр игры
{% endblock title %}

{% block content %}
<img src="{{ request.url_root }}{{ game.preview }}" alt="Preview"
    style="max-width: 100%; border-radius: 10px; width: 100%;">
<div class="flex flex-center">
    <div class="flex-cl flex-grow">

        <div style="margin-bottom: 20px;">
            <h1>{{ game.title }}</h1>
            <p>{{ game.game_info.description if game.game_info.description else 'Описание отсутствует' }}</p>
        </div>

        <div style="margin-bottom: 20px;" class="flex-cl gap-8">
            <h3>Загрузки</h3>
            {% for download in game_download %}
            <div class="download-item flex flex-center">
                <p>{{ loop.index }}.
                    {% if download.title %}
                        {{ download.title }}
                    {% else %}
                        Без названия
                    {% endif %}
                </p>
                <a href="{{ download.file_link }}" download>Скачать</a>
            </div>
            {% endfor %}
        </div>

        <a href="{{ url_for('edit_game', game_link=game.link) }}">Редактировать</a>
        <a href="{{ url_for('delete_game', game_link=game.link) }}" method="post">Удалить</a>
    
    </div>

    <div class="game-info-wrapper">
        <div>
            <h3>Дата релиза</h3>
            <p>{{ game.game_info.release_date if game.game_info.release_date else 'Дата релиза не указана' }}</p>
        </div>

        <div>
            <h3>Язык</h3>
            <p>{{ game.game_info.language if game.game_info.language else 'Язык не указан' }}</p>
        </div>

        <div>
            <h3>Автор</h3>
            <a href="/guest/{{ game.game_info.published_by }}">{{ game.game_info.published_by }}</a>
        </div>

        <div>
            <h3>Цена</h3>
            <p>{{ game.game_info.price }} {{ '₽' if game.game_info.price else 'Цена не указана' }}</p>
        </div>
    </div>
</div>
{% endblock content %}